
.about-content-page-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 5vh;
  flex-wrap: nowrap; /* to test */
}
/** about container **/
.about-flex-container {
  margin-top: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  height: 5rem;
  -webkit-animation-name: animateinfo;
  -webkit-animation-duration: 1s;
  animation-name: animateinfo1;
  animation-duration: 1s
}

.about-flex-container h3 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  opacity: 0.70;
  font-size: xx-large;

}

.about-flex-container p {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  opacity: 0.70;

}
@-webkit-keyframes animateinfo {
  from { bottom:0; opacity:0 }
  to { bottom:0; opacity:1 }
}

@keyframes animateinfo1{
  from{ bottom:0; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/** Creators container **/

.creators-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 5rem ;
}

.creator {
  position: relative;
  -webkit-animation-name: animatebottomcreators;
  -webkit-animation-duration: 1s;
  animation-name: animatebottomcr;
  animation-duration: 1s
}

@-webkit-keyframes animatebottomcreators {
  from { bottom:-100px; opacity:0 }
  to { bottom:0; opacity:1 }
}

@keyframes animatebottomcr {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.creator h3 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
}

.creator p {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 1;
  text-align: center;
  opacity: 0.50;
}

@media screen and (max-width: 500px) {

  .creators-flex-container {
    float: none;
    display: block;
  }

  .about-flex-container {
    float: none;
    display: block;
  }

  .about-content-page {
    float:none;
    display: block;
    text-align: center;
  }

}
